<button type="button" id="show-player">Show player</button>

<!-- Inline <style> to ensure that #jaalPlayerModal will not become visible
before exercise-player.css is loaded and applied. -->
<style>
#jaalPlayerModal {
  display: none;
}
</style>

  <div id="jaalPlayerModal" class="jaalModalContent">
  <span class="jaal-close" id="close-player-modal">&times;</span>


  <div class="joint-controls">
		<p>Displays a student's solution along with a model solution for a visual algorithm simulation exercise from a JAAL 1.0 file.</p>
			<div class="speed-control">
				<label id="speed-label">Animation Speed:</label>
				<input 
					type="range" id="speed" name="speed" 
					value="-1000" step="200" 
					min="-2000" max="-200"
					aria-labelledby="speed-label"
				>
			</div>
    </div>
  </div>

	<div aria-live="assertive" class="no-data">
		<strong></strong>
	</div>

  <div class="detailed-view" style="display: none">
      <p>In this mode you can see all the click actions and if the model answer was opened</p>
  </div>

  <!-- Student's answer view -->
  <div class="views-container">

    <div class="animation-view">
			<div class="heading-container">
				<h2>Submission</h2><span class="score"></span>
			</div>
      <div class="view-control">
        <div class="auto-animation">
          <button id="play-pause-button">Play</button>
          <button id="stop-button">Stop</button>
        </div>
        <div class="slide-show">
          <button id="to-beginning">Begin</button>
          <button id="step-backward">Back</button>
          <button id="step-forward">Forward</button>
          <button id="to-end">End</button>
        </div>
      </div>
      <div id="animation-container"></div>
    </div>

    <!-- Model answer view -->
    <div class="model-answer-view">
			<div class="heading-container">
				<h2>Model answer</h2>
			</div>
      <div class="view-control">
        <div class="auto-animation">
          <button id="model-answer-play-pause-button">Play</button>
          <button id="model-answer-stop-button">Stop</button>
        </div>
        <div class="slide-show">
          <button id="model-answer-to-beginning">Begin</button>
          <button id="model-answer-step-backward">Back</button>
          <button id="model-answer-step-forward">Forward</button>
          <button id="model-answer-to-end">End</button>
        </div>
      </div>
      <div id="model-answer-container" class="jsavcanvas"></div>
    </div>

  <!-- JSON tree view for JAAL data -->
  <div id="jaalTreeModal" class="jaalModal">
    <div class="jaalModalContent">
      <div>
        <span class="jaal-close" id="jaalTreeModal-close">&times;</span>
      </div>
      <div>
        <p>JSON Algorithm Animation Language (JAAL) viewer</p>
        <label for="html-to-string">Display JAAL HTML content as string</label>
        <input type="checkbox" id="html-to-string" value="">
        <button type="button" id="show-jaal">Show</button>
        <div id="jaalTreeContent"></div>
      </div>
    </div>
  </div>

</div> <!-- .jaalModalContent -->
